*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: rgb(37,9,37);
    color: rgb(230, 229, 220);
    height: 75px;
    padding: 0 12px;
}

.text{
    color:aqua
}

.gamecon{
  
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    border:2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.gamecon{
  
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box:hover{
    background-color: rgb(229, 211, 247);
}

.imgbox img{
    display: none;
}

.info{
    padding: 0 34px;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}